.about__container:before {
  margin: 1rem 0 1rem;
  content: 'Me';
  font-family: 'Pinyon Script', cursive;
  font-size: 50rem;
  position: absolute;
  color: var(--color-dark);
  top: 45rem;
  left: 0;
  z-index: -1;
}

.about__container {
  display: grid;
  grid-template-columns: 1fr;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  transform: translateY(35px);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

.about_containerDetail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.about__dropdown {
  margin-top: 2rem;
  padding: 0 2rem 0;
  display: inline;
  border: 1px solid var(--color-primary-variant);
  align-items: center;
  gap: 1rem;
  height: fit-content;
  background: var(--color-dark);
}

.about__detailsLeft {
  cursor: pointer;
}

.about__detailsLeft:hover {
  color: var(--color-primary-light);
}

.about__detailsLeft h4 {
  margin: 1rem 0 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2.2;
}

.about__detailsRight {
  cursor: pointer;
}

.about__detailsRight:hover {
  color: var(--color-primary-light);
}

.about__detailsRight h4 {
  margin: 1rem 0 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2.2;
}

.about__detailsIcon {
  align-self: flex-start;
  font-size: 1.2rem;
}

.dropdown {
  line-height: 2;
  padding: 1rem;
}

/* media queries (tablet) */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about_containerDetail {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__content {
    text-align: center;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}

/* media queries (mobile) */
@media screen and (max-width: 600px) {
  .about__content p {
    margin: 1.5rem 0;
  }
}
